@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    font-family: 'Open Sans'sans-serif;
}

header{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
section{
    padding: 40px 2px 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 4rem;
}
.navbar .action_btn{
    padding: 0.5rem 1.5rem;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 30px;
    transition: scale 0.2 ease;
}
.hero{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 0 2rem 0;
}
.hero h1{
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    font-size: 3.5rem;
}
.hero p{
   width: 55ch;
   margin: 1rem auto;
   font-weight: 400;
   font-family: 'Open Sans' sans-serif;
   opacity: 0.6;
}
button{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 18px -8px #000000;
    width: 18%;
    height: 50px;
    cursor: pointer;
    margin: 1rem auto;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}
button:hover {
    background-color: hsl(321, 100%, 78%);
}
.communities{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.followers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons1{
    text-align: left;
}
.one{
    display: block;
    width: 180px;
    margin-top: 20px;
}
.rate{
    color: hsl(192, 100%, 9%);
    margin: auto;
}
.rate span{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size:60px;
}
.two{
    display: block;
    width: 160px;
    margin-top: 20px;
}
.icons2{
    text-align: right;
}
.about{
    background: url(/images/bg-section-top-desktop-1.svg), url(/images/bg-section-bottom-desktop-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.text-area{
   display: flex;
}
.text{
    margin-top: 15rem;
    margin-right: 15rem;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.text h1{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.text p{
    font-size: 15px;
    width: 465px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    opacity: 0.6;
}
.text-image{
    max-width: 1400px;
}
.about2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.text-area2{
    display: flex;
    flex-direction: row-reverse;
}
.text2{
    margin-top: 15rem;
    margin-left: 15rem;
    justify-content: center;
    align-items: center;
}
.text2 h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.text2 p{
    font-size: 15px;
    width: 510px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    opacity: 0.6;
}
.about3{
    background: url(/images/bg-section-top-desktop-2.svg), url(/images/bg-section-bottom-desktop-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.text-area3{
    display: flex;
}
.text3{
    margin-top: 15rem;
    margin-right: 15rem;
    color: hsl(192, 100%, 9%);
}
.text3 h1{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.text3 P{
    font-size: 15px;
    width: 500px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    opacity: 0.6;
}
.build{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.build h1{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.build button{
    margin: 2rem auto;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}
.contact-us{
    background-color: #00252e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(207, 100%, 98%);
    position: relative;
    margin-top: 8rem;
}  
.contact-us::before {
    content: "";
    position: absolute;
    top: -9.5rem;
    left: 0;
    background-image: url(/images/bg-footer-top-desktop.svg);
    width: 100vw;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
}


.info{
    display: block;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 5rem 0 0 10rem;
}
.contact{
    display: flex;
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10rem;
   
}
.contact1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    width: 65%;
    font-weight: 400;
}
.contact2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 60%;
    font-weight: 400;
}
.newsletter{
    display: block;
    justify-content: center;
    align-items: center;
    width: 23%;
    margin-right: 15%;
    margin-top: 20%;
    
}
.newsletter h2{
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10px;
}
.newsletter p{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
input{
    width: 65%;
    border-radius: 5px;
    height: 35px;
    margin-top: 30px;
    padding: auto;
    border: none;
}
.newsletter button:last-of-type{
    border-radius: 5px;
    height: 35px;
    width: 25%;
    margin-top: 3rem;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 25px;
    margin-top: 30px;
}
.icons a{
    color: #fff;
}
.attribution{
    font-size: 11px;
    text-align: center; 
}
.attribution a{
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 992px) {
    header{
        padding: 20px 20px;
    }
    .navbar a{
        width: 5%;
        margin-left: 0rem;
    }
    .hero{
        flex-direction: column;
        text-align: center;
        width: 95%;
    }
    .communities img{
        margin-top: 30px;
        width: 95%;
    }
    .followers .two{
        margin-top: 50px;
    }

    .about{
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .about2{
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10rem;
        margin-left: 0;
    }
    .text-area, 
    .text-area2,
    .text-area3{
        flex-direction: column;
    }
    .text{
        margin: auto 4rem;
        padding: 10px;
        width: 100%;
    }
    .text h1{
        margin: 2rem 100px 0 5px ;
    }
    .text2{
        margin: auto 5rem;
        width: 100%;
        padding: 10px;
    }
    .text2 h1{
        margin-right: 30%;
    }
    .text2{
        text-align: center;
        margin-right: 140px;
    }
    .about3{
        padding-left: 15rem;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .text3{
        margin: auto 5rem;
        padding: 10px;
        width: 100%;
    }
    .text3 h1{
        margin-left: 20%;
    }
    .text3 p{
        text-align: center;
        margin-right: 180px;
    }
    .build{
        width: 95%;
    }
    footer{
        flex-direction: column;
        margin-top: 40%;
    }
    .contact{
        width: 100%;
    }
    .contact1{
        width: 77%;
        margin-left: 0;
        margin-top: 80%;
    }
    .contact2{
        width: 70%;
        margin-left: 0;
    }
    .newsletter{
        margin-bottom: 10%;
    }

    
}











