@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    font-family: 'Open Sans'sans-serif;
}

header{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 4rem;
    
}
.navbar .action_btn{
    padding: 0.5rem 1.5rem;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 30px;
    transition: scale 0.2 ease;
}
.hero{
    text-align: center;
}
.hero h1{
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    font-size: 3.5rem;
}
.hero p{
   width: 55ch;
   margin: 1rem auto;
   font-weight: 400;
   font-family: 'Open Sans' sans-serif;
   opacity: 0.6;
}
button{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 18px -8px #000000;
    width: 18%;
    height: 50px;
    cursor: pointer;
    margin: 1rem auto;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}
button:hover {
    background-color: hsl(321, 100%, 78%);
}

.mockups{
    text-align: center;
}
.followers{
    display: flex;
    justify-content: space-evenly;
}
.icon-communities{
    text-align: left;
}
.communities{
    width: 180px;
    margin-top: 2rem;
}
.rate{
    font-weight: 400;
    font-family: 'Open Sans'sans-serif;
    color: hsl(192, 100%, 9%);
}
.rate span{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
.messages{
    width: 160px;
    margin-top: 2rem;
}
.msg-icon{
    text-align: left;
}
.grow-together{
    background: url(/images/bg-section-top-desktop-1.svg), url(/images/bg-section-bottom-desktop-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-area{
   display: flex;
}
.text{
    margin-top: 15rem;
    margin-right: 15rem;
     
}
.text h1{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.text p{
    font-size: 15px;
    width: 55ch;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem auto;
    opacity: 0.6;
}
.flowing-conversation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-area2{
    display: flex;
    flex-direction: row-reverse;
}
.text2{
    margin-top: 15rem;
    margin-left: 15rem;
    justify-content: center;
    align-items: center;
}
.text2 h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.text2 p{
    font-size: 15px;
    width: 55ch;
    margin: 1rem auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    opacity: 0.6;
}
.your-users{
    background: url(/images/bg-section-top-desktop-2.svg), url(/images/bg-section-bottom-desktop-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.text-area3{
    display: flex;
}
.text3{
    margin-top: 15rem;
    margin-right: 15rem;
    color: hsl(192, 100%, 9%);
}
.text3 h1{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.text3 P{
    font-size: 15px;
    width: 55ch;
    margin: 1rem auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    opacity: 0.6;
}
.build{
    text-align: center;
    margin: 1rem auto;
}
.build h1{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.build button{
    margin: 2rem auto;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}
.contact-us{
    background-color: #00252e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(207, 100%, 98%);
    position: relative;
    margin-top: 8rem;
}  
.contact-us::before {
    content: "";
    position: absolute;
    top: -9.5rem;
    left: 0;
    background-image: url(/images/bg-footer-top-desktop.svg);
    width: 100vw;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.info{
    display: block;
    width: 40ch;
    font-family: 'Open Sans', sans-serif;
    margin: 5rem auto
}
.contact{
    display: flex;
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 1rem;
}
.contact1{
    display: flex;
    justify-content: space-between;
    float: left;
    width: 60%;
    margin: 1.5rem auto;
    font-weight: 400;
}
.contact2{
    display: flex;
    justify-content: space-between;
    float: left;
    margin: auto;
    width: 55%;
    font-weight: 400;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 25px;
    margin-left: 0;
    margin-top: 7rem;
}
.icons a{
    color: #fff;
}

.newsletter{
    width: 45ch;
    margin: 4rem auto;    
}
.newsletter h2{
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    margin-bottom: 1rem;
}
.newsletter p{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    display: flex;
    justify-content: space-between;
     
}
input{
    width: 65%;
    border-radius: 5px;
    height: 35px;
    margin-top: 2rem;
    border: none;
}
.newsletter button:last-of-type{
    border-radius: 5px;
    height: 35px;
    width: 25%;
    margin-top: 2rem;
}
.attribution{
    font-size: 11px;
    text-align: center; 
}
.attribution a{
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 992px) {
    header{
        text-align: center;
    }
    .hero img{
        width: 90%;
    }

    .grow-together{
        text-align: center;
    }
    .text-area, 
    .text-area2,
    .text-area3{
        flex-direction: column;
    }
    .text{
        width: 60ch;
        margin: 0;
    }
    .text h1{
        margin-top: 2rem;
    }
    .flowing-conversation{
        text-align: center;
    }
    .text2{
        margin: 0;
        width: 60ch;
    }
    .text2 h1{
        margin-top: 2rem;
    }
    .your-users{
        text-align: center;
    }
    .text3{
        margin: 0;
        width: 60ch;
    }
    .text3 h1{
        margin-top: 2rem;
    }
    .build{
        width: 95%;
    }
    footer{
        flex-direction: column;
        flex-wrap: wrap;
    }

    
}











